[MESSAGES CONTROL]
# Disable specific warnings for SQLAlchemy models and API endpoints
disable=too-few-public-methods,
        import-error,
        broad-exception-caught

[BASIC]
# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,ex,Run,_,db,id

[DESIGN]
# Minimum number of public methods for a class (see R0903).
min-public-methods=1
