[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
eralchemy2 = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-cors = "*"
requests = "*"

[dev-packages]
pylint = "*"

[scripts]
init-db = "python src/app.py"
diagram = "eralchemy2 -i 'sqlite:///database.db' -o diagram.png"
start = "python src/main.py"
dev = "flask --app src/main.py run --debug"

[requires]
python_version = "3.8"
